/* 노말라이즈 */

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a{
    text-decoration:none;
    color: inherit;
  }
  /* 사이드바 */

  .side-bar{
    position:fixed;
    width: 13%;
    height:1000px;
    background-color: #890F0D;
    right:-13%;
    transition: right 1s;
  }
  
  .side-bar.active{
    right:0;
  }

  /* 로고메뉴바 */
  .logo-menu{
    position:absolute;
    left:-20px;
    top:50px;
  }

  .logo-menu>ul{
    position:absolute;
    left:0;
  }

  .logo-menu ul{
    width: 200px;
    position: absolute;
    left:50px;
  }

  .logo-menu ul ul{
    position: absolute;
    left: -100%;
    top:0;
    display: none;
    background-color: white;
    color:black;
  }
  
  .logo-menu ul{
    text-align:center;
  }
  
  .logo-menu ul>li{
    position: relative;
  }
  
  .logo-menu ul>li>a{
    font-weight:bold;
    padding:10px;
    display: block;
    transition: background-color .2s;
  }
  
  .logo-menu>ul>li:hover>a{
    color: white;
    background-color:black;
  }

  .logo-menu ul ul>li:hover>a{
    background-color:black;
    color: white;
  }

  .logo-menu ul>li:hover>ul{
    display: block;
  }
  
  /* 로고 메뉴 아이콘 관련 */

  .side-bar .logo-btn{
    top:0;
    position:absolute;
  }
