html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-jc-s {
  justify-content: flex-start;
}

*>.flex-jc-e {
  justify-content: flex-end;
}

*>.flex-jc-sb {
  justify-content: space-between;
}

*>.flex-ai-c {
  align-items: center;
}

*>.flex-ai-s {
  align-items: flex-start;
}

*>.flex-ai-e {
  align-items: flex-end;
}

*>.flex-as-s {
  align-self: stretch;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-as-s {
  align-self: flex-start;
}

*>.flex-as-e {
  align-self: flex-end;
}

*>.flex-column-nowrap {
  flex-flow: column nowrap;
}

*>.flex-column-wrap {
  flex-flow: column wrap;
}

*>.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

/* 커스텀 */

.con-min-width {
  min-width: 1080px;
}

.con {
  width: 1080px;
}

.top-bar {
  height: 80px;
  z-index: 2;
  position:relative;
}

.top-bar .menu-box {
  margin-right: -200px;
}

.top-bar .menu-box>ul>li {
  margin: 0 5px;
}

.top-bar .menu-box ul>li>a {
  text-align: center;
}

.top-bar .menu-box ul>li:hover>a {
  text-decoration: underline;
}

.top-bar .menu-box>ul>li>a {
  padding: 0 5px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.top-bar .menu-box>ul>li:hover>a {
  border-bottom-color: black;
}

.top-bar .menu-box>ul>li>div {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #afafaf;
  display: none;
  padding: 50px 0;
}

.top-bar .menu-box>ul>li:hover>div {
  display: block;
}

.top-bar .menu-box>ul>li>div>div>ul>li {
  flex: 1 0 0;
}

.top-bar .menu-box>ul>li>div>div ul>li>a {
  padding: 10px 0;
}

.top-bar .menu-box>ul>li>div>div>ul>li>a {
  font-weight: bold;
  font-size: 1rem;
}

.top-bar .menu-box>ul>li>div>div>ul>li>ul>li>a {
  color: #444;
  font-size: .5rem;
}

.top-bar div.logo {
  margin-right: 10px;
}

.top-bar .menu-box>ul>li>a {
  font-size: 12px;
}

/* 피그마 커스텀 */
.top-bar .con>.img-box>img{
  position: relative;
  z-index: 1;
  display:block;
  width:100%;
}

/* .top-bar .con .banner>img{
  position: absolute;
  left:0;
  z-index: 0;
} */

.top-bar .con>.top-bar-cover>img{
  position:absolute;
  left:0;
  z-index: -1;
}

/* 탑바 왼쪽 로고 */
.top-bar .con>.top-bar-logo-left>img{
  position:absolute;
  top:50%;
  left:0;
  transform:translateX(30%) translateY(-50%);
}

/* 탑바 오른쪽 로고 */
.top-bar .con>.top-bar-logo-right>img{
  position:absolute;
  left:90%;
  top:35%;
}

/* 1차메뉴 글자 */
.top-bar .con .menu-box>ul>li>a{
  color: #CECECE;
}

/* 배너바 */
.banner{
  position:relative;
}

.banner .banner-cover-txt>img{
  position:absolute;
  top:34%;
  left:15.5%;
}

.banner .banner-txt-right>img{
  position: absolute;
  top:26%;
  left:66%;

}

.banner .banner-txt-bottom>img{
  position: absolute;
  top:74%;
  left: 47.5%;
}

/* -------------------------page2 ----------------------*/

.banner-2 .banner2-cover{
  top:57.5%;
  position: absolute;
}

.banner-2 .con{
  position:absolute;
  top:23%;
  left: 29%;

}

.banner-2 .con .coffee-main{
  position: absolute;
}

.banner-2 .con .coffee-main .box{
  bottom:0;
  position: absolute;
}


.banner2 .con .coffee-main .box>div{
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.banner-2 .con .coffee-menu1{
  bottom:10%;
  position: absolute;
  left: 49%;
}

.banner-2 .con .coffee-menu2{
  bottom:0;
  position: absolute;
  left: 65.5%;
}

.banner-2 .con .coffee-menu3{
  bottom:0;
  position: absolute;
  left: 82%;
}

.banner-2 .con .coffee-btn{
  position: absolute;
  right:-3%;
  bottom:9%;
}


/* 메뉴스토리 */

.banner-2 .con .menu-story{
  top:5%;
  position: absolute;
  left: 50%;

}


.banner-2 .con .menu-story .menu-story2{
  top: 100px;
  position: absolute;
  left:0;
}
.banner-2 .con .menu-story h1{
    font-size: 60px;
  }

  .banner-2 .con .menu-story .menu-story2>li{
    font-size:18px;
    color: #323232;
  }

/* 커피사진 아래 검정색 박스 */
.banner-2 .con .coffee-main .box{
  width: 500px;
  height:45px;
  background-color: #333333;
  position: absolute;
}